{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

    <p>
        <h2>Save Effect Preset</h2>
        {{ render_form(save_effect_preset_form) }}
    </p>

    <p>
        <h2>Effect Presets</h2>
        {% for preset in effect_presets %}
            <a href="{{preset['apply-link']}}">{{preset["name"]}}</a>&nbsp;{{ preset["description"] }}&nbsp;<a href="{{preset['delete-link']}}">Delete</a><br>

        {% endfor %}
    </p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endblock %}