{% extends "base.html" %}

{% block content %}

    <p>
        <h2>Effect Groups</h2>
        {% for effect_group in effect_groups_formatted %}
            <a href="{{effect_group['link']}}">Effect for {{ effect_group["text"] }}</a>
            {{ effect_group["summary"] }}
            <br>
        {% endfor %}
    </p>

    <p>
        <h2>Rainbow Groups</h2>
        {% for rainbow_group in rainbow_groups_formatted %}
            <a href="{{rainbow_group['link']}}">Rainbow for {{ rainbow_group["text"] }}</a>
            {{ rainbow_group["summary"] }}
            <br>
        {% endfor %}
    </p>

    <p>
        <h2>Audio Groups</h2>
        {% for audio_group in audio_groups_formatted %}
            <a href="{{audio_group['link']}}">Audio for {{ audio_group["text"] }}</a>
            {{ audio_group["summary"] }}
            <br>
        {% endfor %}
    </p>

    <p>
        <h2>Spectrum Bars Groups</h2>
        {% for spectrum_bars_group in spectrum_bars_groups_formatted %}
            <a href="{{spectrum_bars_group['link']}}">Spectrum Bars for {{ spectrum_bars_group["text"] }}</a>
            {{ spectrum_bars_group["summary"] }}
            <br>
        {% endfor %}
    </p>

    <p>
        <h2>Audio Bins Groups</h2>
        {% for audio_bins_group in audio_bins_groups_formatted %}
            <a href="{{audio_bins_group['link']}}">Bins for {{ audio_bins_group["text"] }}</a>
            {{ audio_bins_group["summary"] }}
            <br>
        {% endfor %}
    </p>

    <p>
        <h2>Sync Config</h2>
        <a href="/sync-config">Sync</a>
    </p>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endblock %}